project:
  type: flandersqmd-book
  preview:
    port: 4201
    browser: true
  render:
    - "*.md"
    - "*.qmd"
    - "!LICENSE.md"
    - "!README.md"
  output-dir:  ../../output/test_report
  execute-dir: project
  post-render: _extensions/inbo/flandersqmd-book/filters/post_render.R

execute:
  echo: false
  warnings: true
  errors: true
  message: true
  freeze: false
  cache: false


lang: en-GB

format:
  flandersqmd-book-html: default
  flandersqmd-book-pdf: default

flandersqmd:
  entity: INBO
  level: 1
  title: Title report
  subtitle: Subtitle report
  shorttitle: report-test
  author:
  - name:
      given: Janne
      family: Adolf
    email: janne.adolf@inbo.be
    corresponding: true
    orcid: 0000-0001-6064-9803
    affiliation:
      - Research Institute for Nature and Forest (INBO)
  reviewer:
  - name:
      given: John
      family: Doe
    email: john.doe.email
    orcid: 0000-0000-0000-0000
    affiliation:
       - Research Institute for Nature and Forest (INBO)
  year: 2025 # remove?
  cover: media/cover.pdf  # remove?
  coverphoto: https://www.pexels.com/nl-nl/foto/hout-natuur-rood-creatief-4599227  # remove?
  coverdescription: Detail of a leaf. Photo by Skyler Ewing via Pexels  # remove?
  public_report: false # true in package per default
  colophon: true
  floatbarrier: section
  client:
    - INBO Brussel
    - VAC Brussel ‐ Herman Teirlinck
    - Havenlaan 88 bus 73
    - 1000 Brussel
  clienturl: https://www.vlaanderen.be/inbo/en-gb
  clientlogo: media/logo.jpg
  cooperation:
    - INBO Brussel
    - VAC Brussel ‐ Herman Teirlinck
    - Havenlaan 88 bus 73
    - 1000 Brussel
  cooperationurl: https://www.vlaanderen.be/inbo/en-gb
  cooperationlogo: media/logo.jpg

book:
  downloads: pdf
  open-graph: true
  body-footer: '{{< footer >}}'
  navbar:
    pinned: true
    right:
    - icon: mastodon
      href: https://mastodon.online/&#64;inbo
    - icon: bluesky
      href: https://bsky.app/profile/inbo.be
    - icon: facebook
      href: https://www.facebook.com/INBOVlaanderen/
    left:
    - text: Cover
      file: index.qmd
    - text: Summary
      file: chapters/00_summary.qmd
    - text: Introduction
      file: chapters/10_intro.qmd
  chapters:
    - index.qmd
    - chapters/00_summary.qmd
    - chapters/10_intro.qmd
    - chapters/30_body.qmd
    - chapters/99_references.qmd
  appendices:
    - appendices/appendix_a.qmd

bibliography: references.bib

nocite: |
  @*

